html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .background-container {
    background-color: rgb(35, 37, 44);
    width: 550px; 
    height: 868px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* main component */
.main{
    background-color: rgb(26, 27, 33) ;
    width: 317px;
    height: 399px;
    color: white;
    text-align: center;
}   


.main h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
 }

.role {
    color: rgb(243, 191, 153);
    font-size: 13px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.main h3 {
    font-size: 11px;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.email-btn {
    width: 115px;
    height: 34px;
    font-size: 16px;
    margin-left: 25px;
    padding: 0;
}

.linkedin-btn {
    width: 115px;
    background-color: rgb(80, 147, 226) ;
    color: white;
    font-size: 16px;
    height: 34px;
    margin-right: 25px;
    padding: 0;
}

.about {
    text-align: left;
    font-size: 10.24px;
    align-items: center;
    margin: 35px 25px;
   
}


  /* headshot component */
.photo {
    width: 317px;
    height: 317px;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    justify-content: center;

}

.head-shot {
    display: flex;
}

  /* Media component */

  .medialinks {
    display: flex;
    background-color: rgb(22, 22, 25);
    width: 317px;
    height: 64px;
    justify-content: space-around;
    align-items: center;
    
  
  }

img {
    width: 35px;
    height: 35px;
   ;
       
}

.fb-icon {
  padding-left: 35px;
}

.twit-icon {
  padding-right: 35px;
}
